# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.parquet

# Kafka
data/kafka_data/

# MinIO
data/minio_data/

# MLflow
data/mlflow/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db